html
    body
        ul
            each val in [1, 2, 3, 4, 5]
                li= val
        .aa
            .bb #{user.name}
        .cc 妈蛋
        .dd 哈哈
        .ee 买买买 挺好的 美美美
        a(href='/about.html') 关于我们