extends common/layout.pug

block scripts
    +loadJs('a')

block content
    each val in [1, 2, 3, 4, 5, 6, 7]
        li= val
    .aa
        .bb
    .cc 妈蛋
    .dd 哈哈
    .ee 买买买 挺好的 美美美
    a(href='/about.html') 关于我们